@using Microsoft.AspNetCore.Components.Routing

<NavLink class="nav-item" href="@Href" Match="@Match">
    <i class="@IconClass nav-icon"></i>
    <span class="nav-label">@Label</span>
</NavLink>

@code {
    [Parameter] public string Href { get; set; } = "";
    [Parameter] public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";

    private string IconClass => Icon switch
    {
        "home" => "fa-solid fa-house",
        "movies" => "fa-solid fa-film",
        "tv" => "fa-solid fa-tv",
        "sports" => "fa-solid fa-bolt",
        _ => ""
    };
}
